<h1>Blog posts</h1>
<hr>
<% @posts.each do |post| %>
<div class= "well">
	<h3><%= post.title %></h3>
	<p><%= post.body %>
	<%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>  
	</p>
	<hr>
</div>
<% end %> 